<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서관 사용자 페이지</title>
</head>
<body>
    <h1>📚 책 검색</h1>

    <form action="/search/result" method="get">
        <label>제목:
            <input type="text" name="title">
        </label><br>

        <label>저자:
            <input type="text" name="author">
        </label><br>

        <label>출판사:
            <input type="text" name="publisher">
        </label><br>

        <button type="submit">검색</button>
    </form>
</body>
</html>

